# dependencies
node_modules/

# environment
.env

# logs
npm-debug.log

# local files
ngrok.exe

# uploads (opsional)
uploads/
/generated/prisma

# server
server.js

# prisma
prisma/schema.prisma
prisma.config.ts
