<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>
    <link rel="stylesheet" href="reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="reset-overlay">
    <h1>New Password</h1>
    <p>Insert your New Password</p><br>
  <form method="POST" action="/reset-password-confirm">
    <input type="password" name="password" placeholder="Remember your secret" required><br><br>
    <input type="password" name="confirmpassword" placeholder="Confirm your secret" required><br><br>
    <input type="submit" value="New Password" id="resetBtn"></input>
    </div>
</form>
</form>
</body>
</html>