<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Token</title>
    <link rel="stylesheet" href="reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="reset-overlay">
    <h1>Verify Token</h1>
    <p>Insert your token you get from your E-mail Address</p><br>
    <form method="POST" action="/verify-token">
        <input type="text" name="token" placeholder="Insert token from your E-mail" required>
        <br><br>
        <input type="submit" value="Verify" id="resetBtn"></input>
    </form>
    </div>
<script>
  alert("Check Terminal or Console to access token");
</script>
</body>
</html>