<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>
    <link rel="stylesheet" href="reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="reset-overlay">
    <h1>New Password</h1>
    <p>Insert your New Password</p><br>
  <form method="POST" action="/reset-password-confirm">
    <input type="password" name="password" placeholder="Remember your secret" id="password" required><br><br>
    <input type="password" name="confirmpassword" placeholder="Confirm your secret" id="confirmPassword" required><br>
    <div id="password-error" class="error-text"></div><br>
    <input type="submit" value="New Password" id="resetBtn">
    </div>
</form>
<script>
  const params = new URLSearchParams(window.location.search);
  const error = params.get("error");

  const passwordInput = document.getElementById("password");
  const confirmPasswordInput = document.getElementById("confirmPassword");
  const errorText = document.getElementById("password-error");

  if (error === "password") {
    passwordInput.classList.add("error-input");
    confirmPasswordInput.classList.add("error-input");
    errorText.innerText =
    "Password must be at least 8 characters, include Uppercase and Special character";
  }

  if (error === "confirmPassword") {
    passwordInput.classList.add("error-input");
    confirmPasswordInput.classList.add("error-input");
    errorText.innerText = "Passwords do not match!";
  }
</script>
</body>
</html>